body {
    width: 200px;
    background: yellowgreen;
}

.icon-image {
    width: 16px;
    height: 16px;
    border: none;
}

.button-red {
    background: rgb(202, 60, 60);
}

.button-blue {
    background: rgb(66, 184, 221);
}

.weekDays-selector input {
    display: none!important;
}

.weekDays-selector input[type=checkbox]+label {
    display: inline-block;
    border-radius: 6px;
    background: #dddddd;
    height: 20px;
    width: 15px;
    margin-right: 2px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked+label {
    background: #2AD705;
    color: #ffffff;
}

.content-card-container {
    display: grid;
    grid-template-columns: 40px 40px 100px;
    grid-auto-rows: auto;
    grid-column-gap: 3px;
    grid-row-gap: 5px;
}

.hidden {
    opacity: 0;
    filter: blur(10px);
    transition: all 0.2s;
}

.show {
    opacity: 1;
    filter: blur(0);
}